// Primary
$clr-blue-intro-email: 217 28% 15%;
$clr-blue-main: 218 28% 13%;
$clr-blue-footer: 216 53% 9%;
$clr-blue-testimonials: 219 30% 18%;

// Accent
$clr-cyan-cta: 176% 68% 64%;
$clr-blue-cta: 198% 60% 50%;
$clr-red-error: 0 100% 63%;

// Neutral
$clr-white: 0 0% 100%;
